@use '../themes/active.scss' as theme;
@use 'sass:color';

button {
    transition: background-color .4s;
    background-color: theme.$primary-action;
    border-radius: .75rem;
    box-shadow: color.adjust(theme.$primary-action, $lightness: -10%) 0px 7px 2px, #000 0px 8px 5px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 900;
    padding: 1.5rem;
    position: relative;
    width: 100%;
}

button:hover{
    background-color: color.adjust(theme.$primary-action, $lightness: 5%);
}

button:active{
    top: 4px;
    box-shadow: color.adjust(theme.$primary-action, $lightness: -10%) 0px 3px 2px, #000 0px 3px 5px;
}